body {
    display: flex;
    flex-direction: column;
    align-items: center;
};

img {
    filter: grayscale(100%);
    height: 50px;
}

input[type=radio]:checked + img {
    border: 1px blue solid;
    
    filter: grayscale(0%);
}

#error-message {
    color: red;
}

.hidden-message {
    display: none;
}

